.titleCell {
COLOR: #ffffff;
FONT-FAMILY: verdana,arial,sans-serif;
FONT-SIZE: 14px;
FONT-WEIGHT: bold;
TEXT-ALIGN: left;
background-color: #9EA2A5;
vertical-align: middle;
height: 24px;
}
BODY,TABLE,TBODY,P,DL,DT,DD,TR,TD,TH,DIV,OL,UL,LI
	{
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 13px;
	}
A {
	COLOR: #275b9c; 
	TEXT-DECORATION: none; 
	font-family: arial, helvetica, verdana; }
A:hover {
	COLOR: #275b9c; 
	TEXT-DECORATION: underline; 
	font-family: arial, helvetica, verdana;}

A:active {
	COLOR: #275b9c; 
	TEXT-DECORATION: none; 
	font-family: arial, helvetica, verdana, sans-serif;}
.bluetextbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #203c5a;
	font-weight: 900;
}
.bluetextbold2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 900;
}
HR {padding: 5px; size:1px; color:#7E91A2}
form {margin: 0px; padding: 0px;}
.submenus 
{
font-family: Arial, Helvetica, sans-serif;
COLOR: #FFFFFF;
font-size:13px;
}
.submenus:active
{
font-family: Arial, Helvetica, sans-serif;
COLOR: #FFFFFF; 
font-size:14px;
}
.submenus:hover 
{
font-family: Arial, Helvetica, sans-serif;
COLOR: #00FF00; 
font-size:13px;
}
.greybluebg
{
background: #9fa4a9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #222222;
	font-weight: 900;
}
.submenubg
{
 background: url("images/but_bg.gif")
}
.cell2 {
	border-bottom: 1px solid #7E91A2;
	padding-bottom: 3px;
}
.headerbg{
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 900;
	height: 35px;
	text-indent: 3px;
	background-color: #636466;
	background-position: bottom;
}
.bgblue{
	background: #cbcccd;
	width: 150px;
	text-align:right;
	font-weight: bold;
	}
.bgblue2{
	background: #cbcccd;
	width: 150px;
	text-align:left;
	font-weight: bold;
	}
.bgblue3{
	background: #cbcccd;
	width: 160px;
	text-align:right;
	font-weight: bold;
	}
.bggrey{
	background: #F0F0F0;
}
.bggrey2{
	background: #DDDDDD;
}

.input150px{
	width: 150px;
}

.btn_o
{
	border:0px;
	border-color:#4F6887 #4F6887 #01253F #4F6887;
	padding:0px 4px 0px 4px;
	font:bold 14px Arial,sans-serif;
	color:#FFFFFF;
	background: url("images/menu_0.jpg");
	text-decoration:none;
	margin:0px;
	width:144px; 
	height:30px;
	cursor: pointer;
}

.btn_m0
{
	border:0px;
	padding:5px 0px 0px 0px;
	font:bold 16px Arial,sans-serif;
	color:#FFFFFF;
	background: url("images/menu_0.jpg");
	text-decoration:none;
	margin:0px;
	width:144px;
	height:30px;
	cursor: pointer;
}
.btn_mm0 
{
	border:0px;
	padding:5px 0px 0px 0px;
	font:16px Arial,sans-serif;
	color:#FFFFFF;
	background: url("images/menu_0.jpg");
	text-decoration:none;
	margin:0px;
	width:144px;
	height:30px;
	cursor: pointer;
}
.btn_mm0:active
{
	border:0px;
	padding:5px 0px 0px 0px;
	font:16px Arial,sans-serif;
	color:#FF00FF;
	background: url("images/menu_0.jpg");
	text-decoration:none;
	margin:0px;
	width:144px;
	height:30px;
	cursor: pointer;
}
.btn_mm0:hover 
{
	border:0px;
	padding:5px 0px 0px 0px;
	font:16px Arial,sans-serif;
	color:#0000FF;
	background: url("images/menu_0.jpg");
	text-decoration:none;
	margin:0px;
	width:144px;
	height:30px;
	cursor: pointer;
}

.btn_m1
{
	border:0px;
	padding:5px 0px 0px 0px;
	font:bold 16px Arial,sans-serif;
	color:#FFFFFF;
	background: url("images/menu_1.jpg");
	text-decoration:none;
	margin:0px;
	width:144px; 
	height:30px;
	cursor: pointer;
}

.box_tn
{
	border: 1px solid #333333;
	margin: 10px 0 0 0;
	background: #FFFFFF;
}

.box_subtn
{
	border: 1px solid #CCCCCC;
	margin: 10px 0 0 0;
}
.btn_n
{
	color:#FFFFFF;
	font-weight: bold;
	font-size:14px;
}
.btn_w
{
	color:#FFFFFF;
	font-weight: bold;
	font-size:13px;
}
.btn_d 
{
	color:#000000;
	font-weight: bold;
	font-size:12px;
}
.help-a 
{
	color:#798092;
	font-weight: bold;
	font-size:16px;
}

a.page, .page {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F0F0F0 none repeat scroll 0 0;
border:1px solid #CCCCCC;
display:block;
float:left;
height:20px;
line-height:20px;
margin-left:4px;
padding:0 5px;
}
a.page:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E8E8E8 none repeat scroll 0 0;
border:1px solid #AAAAAA;
text-decoration:none;
}
.page input {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border:0 none;
height:12px;
line-height:12px;
margin:-2px -6px 0 -4px;
width:14px;
}
#on {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F7E7E7 none repeat scroll 0 0;
border:1px solid #DAC4C4;
color:#A88888;
}
body .firefinder-match {
outline-color:#000000;
outline-style:solid;
outline-width:1px;
}
.sort {
COLOR: #9EA2A5;
margin: 0px 0px 0px 0px;
}
a.sort:visited {
	font-family: arial, helvetica, verdana;
	COLOR: #9EA2A5;
}
a.sort:hover {
	font-family: arial, helvetica, verdana;
	COLOR: #9EA2A5;
}
a.sort:active {
	font-family: arial, helvetica, verdana;
	COLOR: #9EA2A5;
}
