Package: busybox
Version: 1.17.3-2
Depends: 
Provides: 
Source: package/busybox
Section: base
Status: unknown ok not-installed
Essential: yes
Priority: optional
Maintainer: Nicolas Thill <nico@openwrt.org>
Architecture: brcm47xx
Installed-Size: 487243
Description:  The Swiss Army Knife of embedded Linux.
 It slices, it dices, it makes Julian Fries.
